html {
  height: 100%;
}
body {
  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 0.8em;
  height: 98%;
}

img {
  margin-left: 1%;
  margin-bottom: 1%;
}

#commandes {
  text-align: center;
}

#reserve {
  display: flex;
	flex-wrap: wrap;
  min-height: 10%;
  margin-top: 1%;
  margin-bottom: 1%;
}

#receptacle {
	display: flex;
	flex-wrap: wrap;
  width: 100%;
  min-height: 10%;
	position: relative;
  border: 1px solid black;
}

.draggable {
  display: block;
  justify-content: space-between;
  height: 1.5em;
  margin-left: 1%;
}

.draggable:hover {
  cursor: pointer;
}
